#scene {
  position: relative;
}

#scene .buttons {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  text-align: right;
}

button {
  padding: 10px 15px;
  background-color: #fff;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  margin: 4px 2px;
  transition-duration: 500ms;
  display: block;
  float: right;
  clear: both;
}

button.disabled {
  opacity: 0.4;
}

button:focus {
  outline:0;
}