#scene {
  position: relative;
}

#scene .buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

button {
  padding: 10px 15px;
  background-color: #fff;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  margin: 0 2px;
  transition-duration: 500ms;
}

button.disabled {
  opacity: 0.4;
}

button:focus {
  outline:0;
}